* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  padding: 30px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50px;
}

li {
  list-style: none;
}

@import "mixins";
@import "variables";

@import "header";
@import "nav";
@import "section1";
@import "section2";
@import "section3";
@import "popup-card";
@import "section4";
@import "section5";
@import "footer";